* {
  max-width: 700px;
  align-item: center;
}

.Header{
    background-color: #ffcccc;
    height:40px;
    width: 100%;
    position: fixed;
}

.Main-Container{
    display:flex;
    flex-direction:row;
}

.Left{
    height: 1000px;
  width: 45px;
  background-color: #e0eeee;
  float: left;
  position: fixed;
}

.Right {
  height: 1000px;
  width: 45px;
  background-color: #e0eeee;
  float: right;
  position: inherit;
}
